@import "../../../node_modules/bootstrap/scss/bootstrap";

.custom-height {
  height: 100%;
}

.background-primary {
  background-color: rgb(51, 51, 51);
}

.background-secondary {
  background-color: rgb(84, 76, 76);
}
