@import "../../../node_modules/bootstrap/scss/bootstrap";

.custom-height {
  height: 100%;
}

.background-primary {
  background-color: rgb(177, 33, 33);
}

.background-secondary {
  background-color: rgb(84, 76, 76);
}
