@import "../../../node_modules/bootstrap/scss/bootstrap";

$offcanvas-box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.5);
$offcanvas-bg-color: rgb(224, 224, 224);
// $offcanvas-color: ;
// $offcanvas-transition-duration: 0.3s;
$offcanvas-horizontal-width: 80vw;

$spinner-width: 8rem;
$spinner-height: $spinner-width;
$spinner-vertical-align: -0.125em;
$spinner-border-width: 0.25em;
$spinner-animation-speed: 1s;

.custom-sidebar {
  border-right: 2px solid $primary;
  max-width: 25vw;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: none !important;
}

// .height-fit {
//      height: 80vh;
// }

@media (max-width: 759px) {
  .mobile-sidebar {
    height: 100%;
    width: 10px !important;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 760px) {
  #offcanvasNavbar {
    transform: translateX(0%);
    visibility: visible;
    height: 100%;
    position: relative;
  }

  .navbar-toggler {
    display: none;
  }
}

.custom-navbar-toggler {
  @extend .navbar-toggler;
  border: none;
}

.material-symbols-outlined {
  color: $primary;
  font-size: 32px !important;
  position: relative;
  padding-bottom: 95vh;
  padding-left: 9px;
}

.custom-popover-btn {
  background: none;
  border: none;
}

.material-symbols-outlined {
  position: absolute !important;
  top: -17px;
  right: -14px;
  display: inline;
  color: rgba(rgb(252, 75, 75), 0.6);

  &:hover {
    top: -19px;
    right: -16px;
    color: rgba(rgb(252, 75, 75), 0.8);
  }
}

.search-dropdown {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 22vh;
  min-height: 50px;
  background-color: none;
  border: none;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  top: 140px;
  left: 15px;
  display: none;
}

.dropdown-item {
  border-bottom: 1px solid black;
}

.post-hidden {
  display: hidden;
}

.filtering-section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.reactionSymbol {
  border: none;
  background: none;

  &:hover {
    font-size: 1.2em;
  }
}
