@import "../main.scss"; // Source mixin
// Source mixin

@mixin make-container($padding-x: $container-padding-x) {
     width: 100%;
     padding-right: $padding-x;
     padding-left: $padding-x;
     margin-right: auto;
     margin-left: auto;

     @include media-breakpoint-up(sm) {
          max-width: 90vw;
          padding-left: 30px;
          padding-right: 30px;
     }

     @include media-breakpoint-up(md) {
          max-width: 800px;
     }
     @include media-breakpoint-up(lg) {
          max-width: 800px;
     }
     @include media-breakpoint-up(xl) {
          max-width: 800px;
     }
     @include media-breakpoint-up(xxl) {
          max-width: 800px;
     }
}

// Usage
.custom-container {
     @include make-container(1.5rem);
}
