$offcanvas-box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.5);
$offcanvas-bg-color: rgb(224, 224, 224);
// $offcanvas-color: ;
// $offcanvas-transition-duration: 0.3s;
$offcanvas-horizontal-width: 80vw;

@import "./main.scss";
@import "./partials/SoMeCard.scss";

.custom-sidebar {
     border-right: 2.5px solid $primary;
     max-width: 25vw;
}

// .height-fit {
//      height: 80vh;
// }

@media (max-width: 759px) {
     .mobile-sidebar {
          width: 20px;
          border-radius: 20px;
          box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.3);
     }
}

@media (min-width: 760px) {
     #offcanvasNavbar {
          transform: translateX(0%);
          visibility: visible;
          height: 100%;
          position: relative;
     }

     .navbar-toggler {
          display: none;
     }
}

.custom-navbar-toggler {
     @extend .navbar-toggler;
     border: none;
     padding-left: 20px;
     margin-right: 50px;
}

.material-symbols-outlined {
     color: $primary;
     font-size: 32px !important;
}
